In [1]:
import joblib

In [2]:
data = joblib.load("schedule_init.p")
data

,Nama,NIM,Pembimbing 1,Pembimbing 2,Penguji 1,Penguji 2,Judul,Lokasi,Password
0,Isman Kurniawan,123456789,Isman Kurniawan,Isman Kurniawan,Isman Kurniawan,Isman Kurniawan,QSAR Studies,IF3.01.10,asdf12

In [3]:
recap = joblib.load("recap_init.p")
recap

      Tanggal     NIM             Nama         Judul Indeks
0  2020-04-20  123456  Isman Kurniawan  QSAR Studies      A

In [4]:
lc = joblib.load("lec_code.p")
lc

      kode                                     nama
0      ABW  Ir. ARI MOESRIAMI BARMAWI, M.Sc., Ph.D.
1      ADE            Dr. ADE ROMADHONY, S.T., M.T.
2      ADF            ANDITYA ARIFIANTO, S.T., M.T.
3      ATW     AGUNG TOTO WIBOWO, S.T., M.T., Ph.D.
4      BBD        BAMBANG ARI WAHYUDI, S.Kom., M.T.
..     ...                                      ...
111    SLL                     SELLY MELIANA, M.Kom
112    UAI                                 BUNYAMIN
113    GMO             RIO GUNTUR UTOMO, S.T., M.T.
114    TFQ   AGUSTIAN TAUFIQ ASYHARI, B.Eng., Ph.D.
115  AULIA                             AULIA KHAMAS

[116 rows x 2 columns]